body {
  background-image: url("1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #000; */
  color: #fff;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 36px;
  margin: 0;
  padding: 10px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

nav ul li a:hover {
  border-bottom: 2px solid #fff;
}

section {
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container img {
width: 500px; /* Adjust the width as needed */
height: auto;
}